@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #f8fafc;
  /* Slate-50 */
  color: #0f172a;
  /* Slate-900 */
}

@layer base {
  body {
    @apply min-h-screen bg-slate-50 text-slate-900 antialiased;
  }
}